**/__pycache__/

# IDE and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.history/*
.sonar/

# Project Folders
out/
data/
**/migrations/
**/build/
**/dist/
site/
docs/
COBOL/
z*/
env/

# Ignore all files and folders inside 'logs' folder
logs/*
# Except .gitkeep to keep 'logs' folder present in git
!logs/.gitkeep

# Project Files
.env
*.zip
*.html
.coverage
*.prompt
**/*.jsonl*
**/*.log.*
**/*.log.
/.ipynb_checkpoints